[global]
app_name = WorkFlow
script_name = work-facilitator
version = 3.3.5
enforce_standard = {{ facilitators.work.enforce_standard }}
log_level = {{ facilitators.work.log_level }}
default_branch = {{ facilitators.work.default_branch }}
ssh_key_id = {{ facilitators.work.ssh_key_id }}

commit_expr = {{ facilitators.work.commit_expr | quote }}
commit_content = {{ facilitators.work.commit_content | quote }}
branch_expr = {{ facilitators.work.branch_expr | quote }}
branch_content = {{ facilitators.work.branch_content | quote }}
type_mapping = {{ facilitators.work.type_mapping | quote }}
jira_ticket_expr = {{ facilitators.work.jira_ticket_expr | quote }}

[ticketing.jira]
enabled = {{ facilitators.work.ticketing.jira.enabled }}
server = {{ facilitators.work.ticketing.jira.server }}
username = {{ facilitators.work.ticketing.jira.username }}
password = {{ facilitators.work.ticketing.jira.password }}

[ticketing.gitlab]
enabled = {{ facilitators.work.ticketing.gitlab.enabled }}
server = {{ facilitators.work.ticketing.gitlab.server }}
token = {{ facilitators.work.ticketing.gitlab.token }}
